Repository grafana/k6-docs, pull requests merged in 2022-11, with the labels that each got.

#881 Add xk6-ethereum to extensions
  src/data/doc-extensions/extensions.json
Labels: Area:extensions

#911 fix: Sidebar dropdown fix
  src/components/shared/search-box/search-box.view.js
  src/components/shared/sidebar-section-dropdown/sidebar-section-dropdown.view.js
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/hooks/use-click-outside.js
Labels: Priority: Low, Area: Tooling/Gatsby

#918 chore: upgrade dependencies to latest version
  .eslintrc
  DEPENDENCY_UPDATE.md
  gatsby-config.js
  package-lock.json
  package.json
Labels: dependencies

#919 Add extension xk6-output-timestream
  src/data/doc-extensions/extensions.json
Labels: Area:extensions

#902 Update extensions.json
  src/data/doc-extensions/extensions.json
Labels: Area:extensions
