Repository grafana/k6-docs, pull requests merged in 2023-08, with the labels that each got.

#1270 Browser page close notice
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/newpage--options--.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/02 Running browser tests.md
Labels: Area: k6-browser

#1273 Document jslib-aws version v0.8.1
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SQSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 abortMultipartUpload(bucketName, objectKey, uploadId).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 completeMultipartUpload(bucketName, objectKey, uploadId, parts).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 createMultipartUpload(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 uploadPart(bucketName, objectKey, uploadId, partNumber, data) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3MultipartUpload.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3Part.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 listQueues.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 sendMessage.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 deleteSecret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 presign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/00 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/90 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Labels: Area:extensions

#1294 Fix broken links
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
  src/data/markdown/translated-guides/en/07 Testing Guides/05 Running distributed tests.md
Labels: Type: Bug

#1296 Fix broken links in browser docs
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
Labels: Area: browser

#1292 k6 browser v1 migration guide
  src/data/markdown/translated-guides/en/03 Using k6 browser/04 Migrating to k6 v0-46.md
Labels: Area: browser

#1276 Update documentation to include changes in aws jslib v0.9.0
  src/components/shared/blocking-aws-blockquote/blocking-aws-blockquote.view.js
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SQSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 abortMultipartUpload(bucketName, objectKey, uploadId).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 completeMultipartUpload(bucketName, objectKey, uploadId, parts).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 createMultipartUpload(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 uploadPart(bucketName, objectKey, uploadId, partNumber, data) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3MultipartUpload.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3Part.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 listQueues.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 sendMessage.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 deleteSecret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 presign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/00 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/90 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Labels: Area:extensions
