Repository grafana/k6-docs, pull requests merged in 2024-09, with the labels that each got.

#1720 Documents that setup timeout accepts only positive values
  docs/sources/next/using-k6/k6-options/reference.md
Labels: Area: OSS Content

#1724 Document experimental csv module
  docs/sources/next/javascript-api/k6-experimental/csv/Options.md
  docs/sources/next/javascript-api/k6-experimental/csv/Parser.md
  docs/sources/next/javascript-api/k6-experimental/csv/_index.md
  docs/sources/next/javascript-api/k6-experimental/csv/parse.md
  docs/sources/next/shared/javascript-api/k6-experimental.md
Labels: Area: OSS Content

#1738 Document OTEL HTTP Endpoint requirements
  docs/sources/next/results-output/real-time/opentelemetry.md
Labels: Area: OSS Content

#1732 Document k6 cloud run --local-execution
  docs/sources/next/results-output/real-time/cloud.md
Labels: Area: OSS Content, type/docs

#1736 Add k6 Studio page
  docs/sources/next/k6-studio/_index.md
  docs/sources/v0.53.x/k6-studio/_index.md
Labels: type/docs

#1744 Update k6 studio admonition
  docs/sources/next/k6-studio/_index.md
  docs/sources/v0.53.x/k6-studio/_index.md
Labels: Area:k6-studio

#1722 Document changes around usage collection
  docs/sources/next/set-up/usage-collection.md
Labels: Area: OSS Content

#1731 Automatic update of the extension list
  .github/workflows/extension-registry-changed.yml
  scripts/extension-registry-changed
  src/data/doc-extensions/extensions.json
Labels: Area: Tooling/Gatsby, Area:extensions, type/docs

#1752 Rename Selecting elements page to Select elements
  docs/sources/next/using-k6-browser/recommended-practices/select-elements.md
  docs/sources/v0.54.x/using-k6-browser/recommended-practices/select-elements.md
Labels: Area: browser, type/docs

#1753 Add v0.54.0 release notes
  docs/sources/next/release-notes/v0.54.0.md
  docs/sources/v0.54.x/release-notes/v0.54.0.md
Labels: type/docs
