Repository grafana/k6-docs, pull requests merged in 2024-06, with the labels that each got.

#1605 chore: add link to Grafana Cloud k6
  docs/sources/v0.51.x/grafana-cloud-k6/_index.md
Labels: type/docs

#1608 Add instructions for how to disable ESLint to CONTRIBUTING guide
  CONTRIBUTING/README.md
Labels: type/docs

#1625 Adds OpenTelemetry output description
  docs/sources/next/results-output/real-time/opentelemetry.md
Labels: Area: OSS Content

#1632 chore: replace k6.io docs links
  docs/sources/v0.47.x/javascript-api/jslib/_index.md
  docs/sources/v0.47.x/using-k6-browser/metrics.md
  docs/sources/v0.48.x/javascript-api/jslib/_index.md
  docs/sources/v0.48.x/using-k6-browser/metrics.md
Labels: type/docs

#1630 Document 'experimental_enhanced' compatibility mode
  docs/sources/next/examples/tutorials/_index.md
  docs/sources/next/get-started/resources.md
  docs/sources/next/set-up/configure-k6-intellisense.md
  docs/sources/next/using-k6/javascript-typescript-compatibility-mode.md
  docs/sources/next/using-k6/modules.md
Labels: Area: OSS Content, type/docs

#1638 Update Browser API migration to async note
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Labels: Area: browser
