Repository grafana/k6-docs, pull requests merged in 2024-10, with the labels that each got.

#1756 Refer to the branch name in usage collection
  docs/sources/next/set-up/usage-collection.md
  docs/sources/v0.54.x/set-up/usage-collection.md
Labels: Area: OSS Content

#1757 Add link to GitHub source code for all jslib libraries
  docs/sources/next/javascript-api/jslib/aws/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-tempo/_index.md
  docs/sources/next/javascript-api/jslib/httpx/_index.md
  docs/sources/next/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/next/javascript-api/jslib/utils/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/aws/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/http-instrumentation-tempo/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/httpx/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/k6chaijs/_index.md
  docs/sources/v0.54.x/javascript-api/jslib/utils/_index.md
Labels: Area: OSS Content, type/docs

#1766 Update docs structure, rename Configure k6 Intellisense page
  docs/sources/next/get-started/_index.md
  docs/sources/next/set-up/_index.md
  docs/sources/next/set-up/configure-your-code-editor.md
  docs/sources/v0.53.x/get-started/_index.md
  docs/sources/v0.53.x/set-up/_index.md
  docs/sources/v0.53.x/set-up/configure-your-code-editor.md
  docs/sources/v0.54.x/get-started/_index.md
  docs/sources/v0.54.x/set-up/_index.md
  docs/sources/v0.54.x/set-up/configure-your-code-editor.md
Labels: type/docs

#1783 Add k6 studio docs initial content
  docs/sources/k6-studio/_index.md
  docs/sources/k6-studio/components/_index.md
  docs/sources/k6-studio/components/test-generator.md
  docs/sources/k6-studio/components/test-recorder.md
  docs/sources/k6-studio/components/test-validator.md
  docs/sources/k6-studio/introduction.md
  docs/sources/k6-studio/record-your-first-script.md
  docs/sources/k6-studio/set-up/_index.md
  docs/sources/k6-studio/set-up/install.md
  docs/sources/k6-studio/set-up/settings.md
  docs/sources/k6-studio/set-up/usage-collection.md
  docs/sources/k6-studio/troubleshoot.md
Labels: type/docs
