Repository grafana/k6-docs, pull requests merged in 2024-04, with the labels that each got.

#1537 chore: split Get started into Set up and Get started sections
  docs/sources/next/_index.md
  docs/sources/next/examples/_index.md
  docs/sources/next/examples/get-started-with-k6/_index.md
  docs/sources/next/extensions/_index.md
  docs/sources/next/get-started/running-k6.md
  docs/sources/next/javascript-api/_index.md
  docs/sources/next/misc/_index.md
  docs/sources/next/misc/integrations.md
  docs/sources/next/results-output/_index.md
  docs/sources/next/set-up/_index.md
  docs/sources/next/set-up/configure-k6-intellisense.md
  docs/sources/next/set-up/fine-tune-os.md
  docs/sources/next/set-up/install-k6/_index.md
  docs/sources/next/set-up/install-k6/troubleshooting.md
  docs/sources/next/set-up/usage-collection.md
  docs/sources/next/testing-guides/_index.md
  docs/sources/next/testing-guides/running-large-tests.md
  docs/sources/next/using-k6-browser/_index.md
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/next/using-k6/_index.md
  docs/sources/next/using-k6/k6-options/reference.md
  docs/sources/next/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
  docs/sources/v0.50.x/_index.md
  docs/sources/v0.50.x/examples/_index.md
  docs/sources/v0.50.x/examples/get-started-with-k6/_index.md
  docs/sources/v0.50.x/extensions/_index.md
  docs/sources/v0.50.x/get-started/running-k6.md
  docs/sources/v0.50.x/javascript-api/_index.md
  docs/sources/v0.50.x/misc/_index.md
  docs/sources/v0.50.x/misc/integrations.md
  docs/sources/v0.50.x/results-output/_index.md
  docs/sources/v0.50.x/set-up/_index.md
  docs/sources/v0.50.x/set-up/configure-k6-intellisense.md
  docs/sources/v0.50.x/set-up/fine-tune-os.md
  docs/sources/v0.50.x/set-up/install-k6/_index.md
  docs/sources/v0.50.x/set-up/install-k6/troubleshooting.md
  docs/sources/v0.50.x/set-up/usage-collection.md
  docs/sources/v0.50.x/testing-guides/_index.md
  docs/sources/v0.50.x/testing-guides/running-large-tests.md
  docs/sources/v0.50.x/using-k6-browser/_index.md
  docs/sources/v0.50.x/using-k6-browser/running-browser-tests.md
  docs/sources/v0.50.x/using-k6/_index.md
  docs/sources/v0.50.x/using-k6/k6-options/reference.md
  docs/sources/v0.50.x/using-k6/test-authoring/create-tests-from-recordings/using-the-har-converter.md
Labels: type/docs

#1564 Update browser tap to async
  docs/sources/next/javascript-api/k6-experimental/browser/locator/tap.md
  docs/sources/next/javascript-api/k6-experimental/browser/page/tap.md
Labels: Area: browser

#1554 Add docs for jslib http-instrumentation-pyroscope
  docs/sources/next/javascript-api/jslib/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/client.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/instrumenthttp.md
Labels: type/docs

#1571 WebCrypto updates
  docs/sources/next/javascript-api/k6-experimental/webcrypto/cryptokeypair.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/ecdhkeyderiveparams.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/ecdsaparams.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/eckeygenparams.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/jsonwebkey.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/_index.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/derivebits.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/exportkey.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/generatekey.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/importkey.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/sign.md
  docs/sources/next/javascript-api/k6-experimental/webcrypto/subtlecrypto/verify.md
Labels: Area: OSS Content
