Repository grafana/k6-docs, pull requests merged in 2024-07, with the labels that each got.

#1639 Remove note about Browser API not being available in Cloud
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
Labels: Area: browser

#1646 Update the homepage of the k6 OSS documentation
  docs/sources/next/_index.md
  docs/sources/v0.52.x/_index.md
Labels: Area: OSS Content

#1645 Document HTTP headers structure
  docs/sources/next/javascript-api/k6-http/response/_index.md
  docs/sources/v0.47.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.48.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.49.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.50.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.51.x/javascript-api/k6-http/response/_index.md
  docs/sources/v0.52.x/javascript-api/k6-http/response/_index.md
Labels: Area: OSS Content

#1647 chore: remove mention of Performance Insights
  docs/sources/next/using-k6/k6-options/reference.md
  docs/sources/v0.47.x/using-k6/k6-options/reference.md
  docs/sources/v0.48.x/using-k6/k6-options/reference.md
  docs/sources/v0.49.x/using-k6/k6-options/reference.md
  docs/sources/v0.50.x/using-k6/k6-options/reference.md
  docs/sources/v0.51.x/using-k6/k6-options/reference.md
  docs/sources/v0.52.x/using-k6/k6-options/reference.md
Labels: type/docs

#1658 Use http-instrumentation-pyroscope@1.0.1 in examples
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/client.md
  docs/sources/next/javascript-api/jslib/http-instrumentation-pyroscope/instrumenthttp.md
  docs/sources/v0.51.x/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/v0.51.x/javascript-api/jslib/http-instrumentation-pyroscope/client.md
  docs/sources/v0.51.x/javascript-api/jslib/http-instrumentation-pyroscope/instrumenthttp.md
  docs/sources/v0.52.x/javascript-api/jslib/http-instrumentation-pyroscope/_index.md
  docs/sources/v0.52.x/javascript-api/jslib/http-instrumentation-pyroscope/client.md
  docs/sources/v0.52.x/javascript-api/jslib/http-instrumentation-pyroscope/instrumenthttp.md
Labels: Area: OSS Content

#1653 chore: update script example from hybrid performance guide
  docs/sources/next/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
Labels: Area: browser, type/docs

#1644 chore: move release notes folder and v0.52 release notes
  .eslintignore
  docs/sources/next/get-started/_index.md
  docs/sources/next/misc/release-notes.md
  docs/sources/next/release-notes/_index.md
  docs/sources/next/release-notes/v0.47.0.md
  docs/sources/next/release-notes/v0.48.0.md
  docs/sources/next/release-notes/v0.49.0.md
  docs/sources/next/release-notes/v0.50.0.md
  docs/sources/next/release-notes/v0.51.0.md
  docs/sources/next/release-notes/v0.52.0.md
  docs/sources/next/set-up/_index.md
Labels: type/docs

#1628 chore: add section on following redirects to HTTP requests
  docs/sources/next/using-k6/http-requests.md
  docs/sources/v0.52.x/using-k6/http-requests.md
Labels: Area: OSS Content, type/docs

#1669 chore: port release notes update to v0.52.x
  docs/sources/v0.52.x/get-started/_index.md
  docs/sources/v0.52.x/misc/release-notes.md
  docs/sources/v0.52.x/release-notes/_index.md
  docs/sources/v0.52.x/release-notes/v0.47.0.md
  docs/sources/v0.52.x/release-notes/v0.48.0.md
  docs/sources/v0.52.x/release-notes/v0.49.0.md
  docs/sources/v0.52.x/release-notes/v0.50.0.md
  docs/sources/v0.52.x/release-notes/v0.51.0.md
  docs/sources/v0.52.x/release-notes/v0.52.0.md
  docs/sources/v0.52.x/set-up/_index.md
Labels: type/docs

#1663 Replace PlayWright links with k6 Browser ones
  docs/sources/next/javascript-api/k6-browser/browsercontext/setdefaultnavigationtimeout.md
  docs/sources/next/javascript-api/k6-browser/request/size.md
  docs/sources/v0.52.x/javascript-api/k6-browser/browsercontext/setdefaultnavigationtimeout.md
  docs/sources/v0.52.x/javascript-api/k6-browser/request/size.md
Labels: Area: OSS Content, Area: browser

#1559 Add k6-operator docs to Set up
  docs/sources/next/set-up/set-up-distributed-k6/_index.md
  docs/sources/next/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/next/set-up/set-up-distributed-k6/troubleshooting.md
  docs/sources/next/set-up/set-up-distributed-k6/upgrade-k6-operator.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/_index.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/common-options.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/executing-k6-scripts-with-testrun-crd.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/extensions.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/k6-operator-to-gck6.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/reference.md
  docs/sources/next/set-up/set-up-distributed-k6/usage/scheduling-tests.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/_index.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/troubleshooting.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/upgrade-k6-operator.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/_index.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/common-options.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/executing-k6-scripts-with-testrun-crd.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/extensions.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/k6-operator-to-gck6.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/reference.md
  docs/sources/v0.52.x/set-up/set-up-distributed-k6/usage/scheduling-tests.md
Labels: Area:operator, type/docs

#1667 k6 browser: Display Metrics and new Options page
  docs/sources/next/javascript-api/k6-browser/_index.md
  docs/sources/next/shared/browser/env-var-options.md
  docs/sources/next/shared/browser/web-vital-core-metrics.md
  docs/sources/next/shared/browser/web-vital-other-metrics.md
  docs/sources/next/using-k6-browser/metrics.md
  docs/sources/next/using-k6-browser/migrating-to-k6-v0-52.md
  docs/sources/next/using-k6-browser/options.md
  docs/sources/next/using-k6-browser/recommended-practices/_index.md
  docs/sources/next/using-k6-browser/running-browser-tests.md
  docs/sources/next/using-k6/metrics/reference.md
  docs/sources/next/using-k6/scenarios/_index.md
  docs/sources/v0.52.x/javascript-api/k6-browser/_index.md
  docs/sources/v0.52.x/shared/browser/env-var-options.md
  docs/sources/v0.52.x/shared/browser/web-vital-core-metrics.md
  docs/sources/v0.52.x/shared/browser/web-vital-other-metrics.md
  docs/sources/v0.52.x/using-k6-browser/metrics.md
  docs/sources/v0.52.x/using-k6-browser/migrating-to-k6-v0-52.md
  docs/sources/v0.52.x/using-k6-browser/options.md
  docs/sources/v0.52.x/using-k6-browser/recommended-practices/_index.md
  docs/sources/v0.52.x/using-k6-browser/running-browser-tests.md
  docs/sources/v0.52.x/using-k6/metrics/reference.md
  docs/sources/v0.52.x/using-k6/scenarios/_index.md
Labels: Area: browser

#1676 List xk6-aws
  docs/sources/next/extensions/explore.md
  docs/sources/v0.52.x/extensions/explore.md
Labels: Area:extensions

#1674 Experimental opentelemetry output
  docs/sources/next/results-output/real-time/opentelemetry.md
Labels: Area: OSS Content

#1677 Fix broken admonition for experimental tracing
  docs/sources/next/shared/experimental-tracing-module.md
  docs/sources/v0.52.x/shared/experimental-tracing-module.md
Labels: Area: OSS Content, Type: Bug
