Repository grafana/k6-docs, pull requests merged in 2025-07, with the labels that each got.

#1977 Add copilot-instructions.md file
  .github/instructions/copilot-instructions.md
Labels: Area: Tooling/Gatsby, type/docs

#1974 Update /docs/k6 redirect to latest
  docs/sources/k6/_index.md
  docs/variables.mk
Labels: type/docs

#1982 Update distributed-tests guide to be up-to-date
  docs/sources/k6/next/testing-guides/running-distributed-tests.md
Labels: Area:operator

#1990 Update CODEOWNERS
  CODEOWNERS
Labels: Area: Tooling/Gatsby

#1973 Add new WATCH_NAMESPACES env var to k6 operator docs
  docs/sources/k6/next/set-up/set-up-distributed-k6/install-k6-operator.md
  docs/sources/k6/v1.1.x/set-up/set-up-distributed-k6/install-k6-operator.md
Labels: Area:operator, type/docs

#1985 k6 browser: remove selectOption known issues
  docs/sources/k6/v1.1.x/javascript-api/k6-browser/locator/selectoption.md
Labels: Area: browser, type/docs

#1924 Update the "Using k6 browser" section
  docs/sources/k6/next/using-k6-browser/_index.md
  docs/sources/k6/next/using-k6-browser/how-to-write-browser-tests/_index.md
  docs/sources/k6/next/using-k6-browser/how-to-write-browser-tests/asynchronous-operations.md
  docs/sources/k6/next/using-k6-browser/how-to-write-browser-tests/interact-with-elements.md
  docs/sources/k6/next/using-k6-browser/metrics.md
  docs/sources/k6/next/using-k6-browser/migrating-to-k6-v0-52.md
  docs/sources/k6/next/using-k6-browser/options.md
  docs/sources/k6/next/using-k6-browser/recommended-practices/_index.md
  docs/sources/k6/next/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
  docs/sources/k6/next/using-k6-browser/running-browser-tests.md
  docs/sources/k6/next/using-k6-browser/write-your-first-browser-test.md
  docs/sources/k6/v1.0.x/using-k6-browser/_index.md
  docs/sources/k6/v1.0.x/using-k6-browser/how-to-write-browser-tests/_index.md
  docs/sources/k6/v1.0.x/using-k6-browser/how-to-write-browser-tests/asynchronous-operations.md
  docs/sources/k6/v1.0.x/using-k6-browser/how-to-write-browser-tests/interact-with-elements.md
  docs/sources/k6/v1.0.x/using-k6-browser/metrics.md
  docs/sources/k6/v1.0.x/using-k6-browser/migrating-to-k6-v0-52.md
  docs/sources/k6/v1.0.x/using-k6-browser/options.md
  docs/sources/k6/v1.0.x/using-k6-browser/recommended-practices/_index.md
  docs/sources/k6/v1.0.x/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
  docs/sources/k6/v1.0.x/using-k6-browser/running-browser-tests.md
  docs/sources/k6/v1.0.x/using-k6-browser/write-your-first-browser-test.md
  docs/sources/k6/v1.1.x/using-k6-browser/_index.md
  docs/sources/k6/v1.1.x/using-k6-browser/how-to-write-browser-tests/_index.md
  docs/sources/k6/v1.1.x/using-k6-browser/how-to-write-browser-tests/asynchronous-operations.md
  docs/sources/k6/v1.1.x/using-k6-browser/how-to-write-browser-tests/interact-with-elements.md
  docs/sources/k6/v1.1.x/using-k6-browser/metrics.md
  docs/sources/k6/v1.1.x/using-k6-browser/migrating-to-k6-v0-52.md
  docs/sources/k6/v1.1.x/using-k6-browser/options.md
  docs/sources/k6/v1.1.x/using-k6-browser/recommended-practices/_index.md
  docs/sources/k6/v1.1.x/using-k6-browser/recommended-practices/hybrid-approach-to-performance.md
  docs/sources/k6/v1.1.x/using-k6-browser/running-browser-tests.md
  docs/sources/k6/v1.1.x/using-k6-browser/write-your-first-browser-test.md
Labels: Area: browser

#1967 [docs] Update k6 Studio usage collection section
  docs/sources/k6-studio/set-up/usage-collection.md
Labels: Area:k6-studio
